<div class="testimonials-container">
  <h5>What our clients say</h5>
  <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>

  <div class="row">
    <div class="col s12 m4">
      <div class="row">
        <div class="pull-left">
          <img src="../assets/images/testimonial.jpg">
        </div>
        <div class="pull-right">
          <h5>Client Name</h5>
          <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="row">
        <div class="pull-left">
          <img src="../assets/images/testimonial.jpg">
        </div>
        <div class="pull-right">
          <h5>Client Name</h5>
          <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="row">
        <div class="pull-left">
          <img src="../assets/images/testimonial.jpg">
        </div>
        <div class="pull-right">
          <h5>Client Name</h5>
          <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
        </div>
      </div>
    </div>
  </div>
</div>
