<div class="client-list">
  <h5>Our clients include</h5>

  <div class="row">
    <div class="col s12 m3">
      <img src="../assets/images/placeholder.png">
    </div>

    <div class="col s12 m3">
      <img src="../assets/images/placeholder.png">
    </div>

    <div class="col s12 m3">
      <img src="../assets/images/placeholder.png">
    </div>

    <div class="col s12 m3">
      <img src="../assets/images/placeholder.png">
    </div>
  </div>
</div>
