<footer class="page-footer">
  <div class="container">
    <div class="row general-footer">
      <div class="col s6 m3 footer-section">
        <h5>Services</h5>
        <ul>
          <li>EmberJS Mentoring</li>
          <li>Staff Augmentation</li>
          <li>Training</li>
        </ul>
      </div>

      <div class="col s6 m3 footer-section">
        <h5>Company</h5>
        <ul>
          <li>About Us</li>
          <li>Mentors</li>
          <li>Apprenticeship</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 EmberSherpa
    </div>
  </div>
</footer>
