<h5>Our Partners</h5>
<p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>

<div class="row">
  <div class="col s12 m4">
    <img src="../assets/images/placeholder2.png">
  </div>

  <div class="col s12 m4">
    <img src="../assets/images/placeholder2.png">
  </div>

  <div class="col s12 m4">
    <img src="../assets/images/placeholder2.png">
  </div>
</div>

<div class="row">
  <div class="col s12 m4">
    <img src="../assets/images/placeholder2.png">
  </div>

  <div class="col s12 m4">
    <img src="../assets/images/placeholder2.png">
  </div>

  <div class="col s12 m4">
    <img src="../assets/images/placeholder2.png">
  </div>
</div>
