<div class="trainings-page">
  <h5>Become a better EmberJS developer</h5>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  <div class="row">
    <div class="col s4">
      {{#md-card title="Free" id="basic-card"}}
          {{#md-card-content}}
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          {{/md-card-content}}
      {{/md-card}}
    </div>
    <div class="col s4">
      {{#md-card title="Professional" id="basic-card"}}
          {{#md-card-content}}
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          {{/md-card-content}}
      {{/md-card}}
    </div>
    <div class="col s4">
      {{#md-card title="Team" id="basic-card"}}
          {{#md-card-content}}
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          {{/md-card-content}}
      {{/md-card}}
        </div>
  </div>
</div>
